/* line 1, e:\personalWebsite\css\app */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* line 7, e:\personalWebsite\css\app */
html,
body {
  font-size: 16px;
  color: black;
}
/* line 12, e:\personalWebsite\css\app */
hr {
  margin: 0;
}
/* line 16, e:\personalWebsite\css\app */
.education-entry,
.work-entry,
.project-entry {
  padding-left: 5%;
  padding-right: 5%;
}
/* line 22, e:\personalWebsite\css\app */
h1 {
  font-weight: bold;
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}
/* line 30, e:\personalWebsite\css\app */
h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}
/* line 38, e:\personalWebsite\css\app */
h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}
/* line 45, e:\personalWebsite\css\app */
h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}
/* line 52, e:\personalWebsite\css\app */
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 60, e:\personalWebsite\css\app */
.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}
/* line 68, e:\personalWebsite\css\app */
.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}
/* line 77, e:\personalWebsite\css\app */
p {
  font-size: 16px;
  color: #333333;
  line-height: 21px;
}
/* line 83, e:\personalWebsite\css\app */
a {
  color: #1199C3;
  margin-top: 10px;
  display: block;
}
/* line 89, e:\personalWebsite\css\app */
a:hover {
  text-decoration: none;
}
/* line 93, e:\personalWebsite\css\app */
.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}
/* line 100, e:\personalWebsite\css\app */
#skillsH3 {
  color: #F5AE23;
  display: none;
}
/* line 105, e:\personalWebsite\css\app */
#skills {
  display: none;
}
/* line 109, e:\personalWebsite\css\app */
.orange {
  background-color: #F5AE23;
}
/* line 113, e:\personalWebsite\css\app */
.orange-text {
  color: #F5AE23;
}
/* line 117, e:\personalWebsite\css\app */
.white-text {
  font-weight: bold;
  color: #FFFFFF;
}
/* line 122, e:\personalWebsite\css\app */
.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear: both;
}
/* line 128, e:\personalWebsite\css\app */
.dark-gray {
  background-color: #4A4A4A;
}
/* TODO: Replace with image later */
/* line 133, e:\personalWebsite\css\app */
#header {
  background-color: #484848;
  font-size: 16px;
}
/* line 138, e:\personalWebsite\css\app */
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
/* line 147, e:\personalWebsite\css\app */
.center-content {
  padding: 4%;
}
/* line 151, e:\personalWebsite\css\app */
ul {
  list-style-type: none;
}
/* line 155, e:\personalWebsite\css\app */
i {
  transition: all 0.4s;
}
/* line 159, e:\personalWebsite\css\app */
.one-button {
  cursor: pointer;
  color: #fff;
  z-index: 99999;
}
/* line 165, e:\personalWebsite\css\app */
.one-button:hover i {
  color: #09c;
}
/* line 169, e:\personalWebsite\css\app */
.one-button:active {
  transition: 0.1s;
}
/* line 173, e:\personalWebsite\css\app */
.one-button i {
  color: #fff;
  position: relative;
  z-index: 99999;
}
/* line 179, e:\personalWebsite\css\app */
ul#social {
  position: absolute;
  display: inline;
}
/* line 182, e:\personalWebsite\css\app */
ul#social li {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  display: inline-block;
}
/* line 190, e:\personalWebsite\css\app */
.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}
/* line 197, e:\personalWebsite\css\app */
img {
  padding: 10px;
  height: auto;
}
/* Bar chart stuff */
/* line 204, e:\personalWebsite\css\app */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}
/* line 215, e:\personalWebsite\css\app */
span {
  padding: 5px;
}
/* line 219, e:\personalWebsite\css\app */
#letsConnect {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  /* line 224, e:\personalWebsite\css\app */
  #letsConnect {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 900px) {
  /* line 230, e:\personalWebsite\css\app */
  .biopic {
    width: 175px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 236, e:\personalWebsite\css\app */
  #letsConnect {
    margin-top: 10%;
  }
  /* line 239, e:\personalWebsite\css\app */
  .biopic {
    width: 150px;
  }
  /* line 242, e:\personalWebsite\css\app */
  .welcome-message {
    display: none;
  }
}
/* line 247, e:\personalWebsite\css\app */
#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
/* line 254, e:\personalWebsite\css\app */
#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}
@media only screen and (min-width: 750px) {
  /* line 261, e:\personalWebsite\css\app */
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}
